
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/python

.vscode
geckodriver.log

# 著作権の関係から RFC 2220 以降のみを公開
/data/0000
/data/1000
/data/*/*.json
!/data/[2-9]000/*-trans.json
/data/2000/rfc20??-trans.json
/data/2000/rfc21??-trans.json
/data/2000/rfc220?-trans.json
/data/2000/rfc221?-trans.json
/html/rfc?.html
/html/rfc??.html
/html/rfc???.html
/html/rfc1???.html
/html/rfc20??.html
/html/rfc21??.html
/html/rfc220?.html
/html/rfc221?.html
/html/rfc*-not-found.html
/html/rfc*-error.html

# DMCA takedown
/html/rfc7289.html
/data/7000/rfc7289-trans.json
/data/7000/200/rfc7289-trans.json

# WorkingGroupのDraft情報
!/data/draft/drafts.json
