<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RFC ${ctx['range']} のアスキーアート</title>

  <link rel="shortcut icon" type="image/x-icon" href="https://tex2e.github.io/rfc-translater/favicon.ico" />
  <link rel="stylesheet" href="../../html/bootstrap/css/bootstrap.min.css">
  <style>
    p.text {
      font-size: 100%;
      overflow-wrap: break-word;
    }
    pre.text {
      font-size: 75%;
    }
  </style>
</head>
<body>
  <%include file="header.html" />

  <div style="height: 1ex;"></div> <!-- spacing -->

  <div class="container">
    % for fig in ctx['figs']:
    <div class="col-sm-12 col-md-12">
      <div class="text-right">
        [
        <a href="https://tools.ietf.org/html/rfc${fig['rfc'] | h}">
          RFC <span class="rfc-number">${fig['rfc'] | h}</span>
        </a>
        ]
      </div>
      <pre class="text text-monospace">
${fig['text'] | h}
      </pre>
      <hr>
    </div>
    % endfor
  </div>
</body>
</html>
