
p.text {
  font-size: 100%;
  overflow-wrap: break-word;
}
pre.text {
  font-size: 75%;
}

.indent-0  { padding-left: 0.0ex; }
.indent-1  { padding-left: 0.1ex; }
.indent-2  { padding-left: 0.3ex; }
.indent-3  { padding-left: 0.5ex; }
.indent-4  { padding-left: 0.7ex; }
.indent-5  { padding-left: 0.9ex; }
.indent-6  { padding-left: 1.1ex; }
.indent-7  { padding-left: 1.3ex; }
.indent-8  { padding-left: 1.5ex; }
.indent-9  { padding-left: 1.7ex; }
.indent-10 { padding-left: 1.9ex; }
.indent-11 { padding-left: 2.1ex; }
.indent-12 { padding-left: 2.3ex; }
.indent-13 { padding-left: 2.5ex; }
.indent-14 { padding-left: 2.7ex; }
.indent-15 { padding-left: 2.9ex; }
.indent-16 { padding-left: 3.1ex; }
.indent-17 { padding-left: 3.3ex; }
.indent-18 { padding-left: 3.5ex; }
.indent-19 { padding-left: 3.7ex; }
.indent-20 { padding-left: 3.9ex; }
.indent-21 { padding-left: 4.1ex; }
.indent-22 { padding-left: 4.3ex; }
.indent-23 { padding-left: 4.5ex; }
.indent-24 { padding-left: 4.7ex; }
.indent-25 { padding-left: 4.9ex; }
.indent-26 { padding-left: 5.1ex; }
.indent-27 { padding-left: 5.3ex; }
.indent-28 { padding-left: 5.5ex; }
.indent-29 { padding-left: 5.7ex; }
.indent-30 { padding-left: 5.9ex; }
.indent-31 { padding-left: 6.1ex; }
.indent-32 { padding-left: 6.3ex; }
.indent-33 { padding-left: 6.5ex; }
.indent-34 { padding-left: 6.7ex; }
.indent-35 { padding-left: 6.9ex; }
.indent-36 { padding-left: 7.1ex; }

.hidden {
  display: none;
}

.jump-to-original-rfc-container {
  float: right;
  position: sticky;
  top: 0;
  z-index: 10000;
}
button .jump-to-original-rfc {
  color: #007bff;
  text-decoration: none;
}
button .jump-to-original-rfc:hover {
  color: #0056b3;
  text-decoration: underline;
}

.darkModeToggleIcon {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/* Dark Theme */

:root {
  --color-bg-dark: #121212;
  --color-text-dark: #b2b2b2;
}

body.dark-theme {
  background-color: var(--color-bg-dark);
}

.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme p, .dark-theme pre {
  color: var(--color-text-dark);
}

.dark-theme nav {
  background-color: #19191c !important;
}

.dark-theme nav a, .dark-theme nav span,
.dark-theme .container a, .dark-theme .container span {
  color: var(--color-text-dark) !important;
}

.dark-theme .alert-info {
  background-color: #151718 !important;
  border-color: #373d3e !important;
}

.dark-theme .alert-danger {
  background-color: #300401 !important;
  border-color: #442b2b !important;
}

.dark-theme .alert-secondary {
  background-color: #151718 !important;
  border-color: #515151 !important;
}

.dark-theme .alert * {
  color: #c2cfdb !important;
}

.dark-theme .alert a {
  color: #3c7ee3 !important;
}

.dark-theme .badge {
  background-color: transparent;
}
.dark-theme .badge-primary {
  border: 1px solid var(--primary);
}
.dark-theme .badge-info {
  border: 1px solid var(--info);
}
.dark-theme .badge-warning {
  border: 1px solid var(--warning);
}
.dark-theme .badge-danger {
  border: 1px solid var(--danger);
}
.dark-theme .badge-success {
  border: 1px solid var(--success);
}
.dark-theme .badge-secondary {
  border: 1px solid var(--secondary);
}

.dark-theme .jump-to-original-rfc-container button {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.dark-theme .list-group-item {
  background-color: var(--color-bg-dark);
  border-color: rgba(255, 255, 255, 0.125);
}
