
p.text {
  font-size: 100%;
  overflow-wrap: break-word;
}
pre.text {
  font-size: 75%;
}

.indent-0  { padding-left: 0.0ex; }
.indent-1  { padding-left: 0.1ex; }
.indent-2  { padding-left: 0.3ex; }
.indent-3  { padding-left: 0.5ex; }
.indent-4  { padding-left: 0.7ex; }
.indent-5  { padding-left: 0.9ex; }
.indent-6  { padding-left: 1.1ex; }
.indent-7  { padding-left: 1.3ex; }
.indent-8  { padding-left: 1.5ex; }
.indent-9  { padding-left: 1.7ex; }
.indent-10 { padding-left: 1.9ex; }
.indent-11 { padding-left: 2.1ex; }
.indent-12 { padding-left: 2.3ex; }
.indent-13 { padding-left: 2.5ex; }
.indent-14 { padding-left: 2.7ex; }
.indent-15 { padding-left: 2.9ex; }
.indent-16 { padding-left: 3.1ex; }
.indent-17 { padding-left: 3.3ex; }
.indent-18 { padding-left: 3.5ex; }
.indent-19 { padding-left: 3.7ex; }
.indent-20 { padding-left: 3.9ex; }
.indent-21 { padding-left: 4.1ex; }
.indent-22 { padding-left: 4.3ex; }
.indent-23 { padding-left: 4.5ex; }
.indent-24 { padding-left: 4.7ex; }
.indent-25 { padding-left: 4.9ex; }
.indent-26 { padding-left: 5.1ex; }
.indent-27 { padding-left: 5.3ex; }
.indent-28 { padding-left: 5.5ex; }
.indent-29 { padding-left: 5.7ex; }
.indent-30 { padding-left: 5.9ex; }
.indent-31 { padding-left: 6.1ex; }
.indent-32 { padding-left: 6.3ex; }
.indent-33 { padding-left: 6.5ex; }
.indent-34 { padding-left: 6.7ex; }
.indent-35 { padding-left: 6.9ex; }
.indent-36 { padding-left: 7.1ex; }

.hidden {
  display: none;
}

.jump-to-original-rfc-container {
  float: right;
  position: sticky;
  top: 0;
  z-index: 10000;
}
button .jump-to-original-rfc {
  color: #007bff;
  text-decoration: none;
}
button .jump-to-original-rfc:hover {
  color: #0056b3;
  text-decoration: underline;
}
