  <%page args="is_draft=False" />
  <nav class="navbar navbar-expand navbar-light bg-light">
    % if is_draft == True:
    <a class="navbar-brand" href="../index.html">RFC Trans</a>
    % else:
    <a class="navbar-brand" href="index.html">RFC Trans</a>
    % endif
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav mr-auto">
        % if is_draft == True:
        <a class="nav-item nav-link" href="index.html">Draft</a>
        <a class="nav-item nav-link" href="../contact.html">Contact</a>
        <a class="nav-item nav-link" href="../../figs/html/index.html">Figs</a>
        % else:
        <a class="nav-item nav-link" href="draft/index.html">Draft</a>
        <a class="nav-item nav-link" href="contact.html">Contact</a>
        <a class="nav-item nav-link" href="../figs/html/index.html">Figs</a>
        % endif
      </div>
      <div class="navbar-nav ml-auto">
        <span class="navbar-text"><small>@tex2e</small></span>
      </div>
    </div>
  </nav>
