  <link rel="shortcut icon" type="image/x-icon"
    href="https://tex2e.github.io/rfc-translater/favicon.ico" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  % if is_draft == True:
  <link rel="stylesheet" href="master.css">
  <script src="index.js"></script>
  % else:
  <link rel="stylesheet" href="../master.css">
  <script src="../index.js"></script>
  % endif
