<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RFC日本語訳一覧</title>

  <%include file="head.html" />
</head>
<body>
  <%include file="header.html" />

  <div style="height: 1ex;"></div> <!-- spacing -->

  <div class="jump-to-original-rfc-container">
    <a href="https://tools.ietf.org/rfc/index">
      <button type="button" class="btn btn-light btn-sm">
        <span class="jump-to-original-rfc">Orig</span>
      </button>
    </a>
  </div>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">RFC文書を自動翻訳したページ一覧</h4>
      <ul>
        <li>翻訳の正確性は保証しません。必ず英文と比較してお読みください。</li>
        <li>稀に原文の一部が抜けるので、右上の原文へのリンク「Orig」から原文も読むようにしてください。</li>
        <li>図や表が複数ページにわたるときや、間に空行が含まれるときは、上手に解釈できないことがあります。</li>
        <li>翻訳物に関してはRFCの著作権の関係で RFC 2220 以降のみを公開しています。</li>
        <li>RFCを翻訳するツール群は <a href="https://github.com/tex2e/rfc-translater">github.com/tex2e/rfc-translater</a> に置いてあります。</li>
      </ul>
    </div>

    <div style="height: 1ex;"></div> <!-- spacing -->

    <div id="RFCs" class="list-group list-group-flush">
      % for filenum, filename, title in ctx['files']:
      <a href="${filename | h}" class="list-group-item list-group-item-action">
        ${title}
      </a>
      % endfor
    </div>
  </div>
</body>
</html>
