<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>${ctx[RfcJsonElem.TITLE][RfcJsonElem.Title.TEXT] | h} 日本語訳</title>
  % if summary:
  <meta name="description" content="${''.join(summary['summary'])}">
  % endif

  <%include file="head.html" />
</head>
<body>
  <%include file="header.html" />
  <span id="rfc_number" class="hidden">${ctx[RfcJsonElem.NUMBER]}</span>
  <div style="height: 1ex;"></div>
  <div class="jump-to-original-rfc-container">
    % if is_draft:
    <a href="https://datatracker.ietf.org/doc/html/${ctx[RfcJsonElem.NUMBER] | h}">
    % else:
    <a href="https://datatracker.ietf.org/doc/html/rfc${ctx[RfcJsonElem.NUMBER]}">
    % endif
      <button type="button" class="btn btn-light btn-sm">
        <span class="jump-to-original-rfc">Orig</span>
      </button>
    </a>
  </div>
  <div class="container">
    <div>
      % if is_draft:
      <div class="alert alert-secondary" role="alert">
      % else:
      <div class="alert alert-info" role="alert">
      % endif
        <h4 class="alert-heading">${ctx[RfcJsonElem.TITLE][RfcJsonElem.Title.TEXT]} 日本語訳</h4>
        <span class="URL">原文URL :
          % if is_draft:
          <a href="https://datatracker.ietf.org/doc/html/${ctx[RfcJsonElem.NUMBER] | h}">
            https://datatracker.ietf.org/doc/html/${ctx[RfcJsonElem.NUMBER] | h}
          </a>
          % else:
          <a href="https://datatracker.ietf.org/doc/html/rfc${ctx[RfcJsonElem.NUMBER]}">
            https://datatracker.ietf.org/doc/html/rfc${ctx[RfcJsonElem.NUMBER]}
          </a>
          % endif
        </span><br>
        <span class="title_ja">
          タイトル : <strong>${ctx[RfcJsonElem.TITLE][RfcJsonElem.Title.JA]}</strong></span><br>
        <span class="updated_by">翻訳編集 : ${RfcHtmlHelper.get_updated_by(ctx[RfcJsonElem.UPDATED_BY])}</span><span id="rfc_status"></span><span id="rfc_wg"></span><br>
      </div>
      <div id="rfc_alert" class="hidden" role="alert">
        <div class="alert alert-danger">
          <span id="rfc_alert_obsoleted_by"></span>
        </div>
      </div>
      % if is_draft:
      <div id="rfc_alert" class="" role="alert">
        <div class="alert alert-danger">
          <span id="rfc_draft">現在表示しているRFCはDraft版です。</span>
        </div>
      </div>
      % endif
    </div>
    % if summary:
    <div id="rfc_summary">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">[要約] ${''.join(summary['summary'])}</p>
        </div>
      </div>
    </div>
    % endif

    % for paragraph in ctx[RfcJsonElem.CONTENTS]:
    <div class="row">
      % if paragraph.get(RfcJsonElem.Contents.RAW) == True:
      <div class="col-sm-12 col-md-12">
        <pre class="text text-monospace${' toc' if paragraph.get(RfcJsonElem.Contents.TOC) else ''}">
${RfcHtmlHelper.indent(paragraph[RfcJsonElem.Contents.TEXT], ' ' * paragraph[RfcJsonElem.Contents.INDENT]) | h}
        </pre>
      </div>

      % elif paragraph.get(RfcJsonElem.Contents.SECTION_TITLE) == True:
      <div class="col-sm-12 col-md-6">
        <h5 class="text mt-2" id="${RfcHtmlHelper.text_to_id(paragraph[RfcJsonElem.Contents.TEXT])}">
${paragraph[RfcJsonElem.Contents.TEXT] | h}
        </h5>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5 class="text mt-2">
${paragraph[RfcJsonElem.Contents.JA] | h}
        </h5>
      </div>

      % else:
      <div class="col-sm-12 col-md-6">
        <p class="text indent-${paragraph[RfcJsonElem.Contents.INDENT] | h}">
${RfcHtmlHelper.my_replace_filter(paragraph[RfcJsonElem.Contents.TEXT])}
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="text indent-${paragraph[RfcJsonElem.Contents.INDENT] | h}">
${RfcHtmlHelper.my_replace_filter(paragraph[RfcJsonElem.Contents.JA])}
        </p>
      </div>
      % endif
    </div>
    % endfor
  </div>
  <div id="rfc_footer"></div>
</body>
</html>
