<!DOCTYPE html>
<%
  import textwrap
%>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>${ctx['title']} 日本語訳</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    p.text-monospace { font-size: 80%; }
    pre.text { font-size: 75%; }
  </style>
</head>
<body>
  <div class="container">
    % for paragraph in ctx['contents']:
    <div class="row">
      % if paragraph.get('raw') == True:
      <div class="col-sm-12 col-md-12">
        <pre class="text text-monospace">
${textwrap.indent(paragraph['text'], ' ' * paragraph['indent']) | n}
        </pre>
      </div>
      % elif paragraph.get('section_title') == True:
      <div class="col-sm-12 col-md-6">
        <h3 class="text text-monospace">
${paragraph['text'] | n}
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text">
${paragraph['ja'] | n}
        </p>
      </div>
      % else:
      <div class="col-sm-12 col-md-6">
        <p class="text">
${paragraph['text'] | n}
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="text">
${paragraph['ja'] | n}
        </p>
      </div>
      % endif
    </div>
    % endfor
  </div>
</body>
</html>
